USE [master]
GO
/****** Object:  Database [Hirkani]    Script Date: 10/17/2017 12:28:36 ******/
CREATE DATABASE [Hirkani] ON  PRIMARY 
( NAME = N'Hirkani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Hirkani.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hirkani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Hirkani_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hirkani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hirkani]
GO
/****** Object:  View [dbo].[View1]    Script Date: 10/17/2017 12:28:41 ******/
DROP VIEW [dbo].[View1]
GO
/****** Object:  Table [dbo].[Advance_Billing]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Advance_Billing]
GO
/****** Object:  Table [dbo].[Advance_Products]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Advance_Products]
GO
/****** Object:  Table [dbo].[Advance_Sowing]    Script Date: 10/17/2017 12:28:40 ******/
ALTER TABLE [dbo].[Advance_Sowing] DROP CONSTRAINT [DF_Advance_Sowing_Status]
GO
DROP TABLE [dbo].[Advance_Sowing]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Billing]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Booking]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Brands]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/17/2017 12:28:40 ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Daily_Sowing]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Daily_Sowing]
GO
/****** Object:  Table [dbo].[Inlet_Inventery]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Inlet_Inventery]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Purchase_Products]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Purchase_Products]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10/17/2017 12:28:39 ******/
ALTER TABLE [dbo].[Sales] DROP CONSTRAINT [DF_Sales_Paid]
GO
ALTER TABLE [dbo].[Sales] DROP CONSTRAINT [DF_Sales_Remaining]
GO
DROP TABLE [dbo].[Sales]
GO
/****** Object:  Table [dbo].[Sales_Products]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Sales_Products]
GO
/****** Object:  Table [dbo].[Sales_Products_View]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Sales_Products_View]
GO
/****** Object:  Table [dbo].[Sales_View_Customer]    Script Date: 10/17/2017 12:28:39 ******/
ALTER TABLE [dbo].[Sales_View_Customer] DROP CONSTRAINT [DF_Sales_View_Customer_Paid]
GO
ALTER TABLE [dbo].[Sales_View_Customer] DROP CONSTRAINT [DF_Sales_View_Customer_Remaining]
GO
DROP TABLE [dbo].[Sales_View_Customer]
GO
/****** Object:  Table [dbo].[Shops]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Shops]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Stock]
GO
/****** Object:  Table [dbo].[Stock_View]    Script Date: 10/17/2017 12:28:39 ******/
DROP TABLE [dbo].[Stock_View]
GO
/****** Object:  Table [dbo].[Stock_View]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stock_View](
	[Product_Name] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stock](
	[Plant_Name] [varchar](max) NULL,
	[Variety] [varchar](max) NULL,
	[Lot_No] [varchar](max) NULL,
	[Total_Stock] [int] NULL,
	[Available] [int] NULL,
	[Reserved] [int] NULL,
	[Rate] [int] NULL,
	[limit] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shops]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shops](
	[Shop_Name] [varchar](max) NOT NULL,
	[Mobile] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sales_View_Customer]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales_View_Customer](
	[Sales_OrderID] [varchar](11) NOT NULL,
	[Distributor_Name] [varchar](50) NULL,
	[Sales_Date] [date] NULL,
	[Total_Products] [int] NOT NULL,
	[Total_Quantity] [int] NULL,
	[Total] [int] NOT NULL,
	[Paid] [int] NULL CONSTRAINT [DF_Sales_View_Customer_Paid]  DEFAULT ((0)),
	[Remaining] [int] NULL CONSTRAINT [DF_Sales_View_Customer_Remaining]  DEFAULT ((0))
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sales_Products_View]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales_Products_View](
	[Sales_OrderID] [varchar](11) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [nvarchar](50) NULL,
	[Rate] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [float] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sales_Products]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales_Products](
	[Sales_OrderID] [varchar](11) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [nvarchar](50) NULL,
	[Rate] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [float] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[Sales_OrderID] [varchar](11) NOT NULL,
	[Distributor_Name] [varchar](50) NULL,
	[MobNo] [varchar](max) NULL,
	[Sales_Date] [date] NULL,
	[Total_Products] [int] NOT NULL,
	[Total_Quantity] [int] NULL,
	[Total] [int] NOT NULL,
	[Paid] [int] NULL CONSTRAINT [DF_Sales_Paid]  DEFAULT ((0)),
	[Remaining] [int] NULL CONSTRAINT [DF_Sales_Remaining]  DEFAULT ((0))
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchase_Products]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Purchase_Products](
	[Product_Name] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Details] [varchar](max) NULL,
	[Purchase_Date] [date] NOT NULL,
	[Shop_Name] [varchar](50) NULL,
	[Mobile_No] [varchar](13) NULL,
	[Bill_No] [varchar](50) NULL,
	[Rate] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[Grand_Total] [int] NULL,
	[Paid] [int] NULL,
	[Unpaid] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inlet_Inventery]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inlet_Inventery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product] [varchar](50) NULL,
	[quantity] [int] NULL,
	[limit] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Daily_Sowing]    Script Date: 10/17/2017 12:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Daily_Sowing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Plant] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[BillNo] [nvarchar](50) NULL,
	[Variety] [nvarchar](50) NULL,
	[LotNo] [nvarchar](50) NULL,
	[TotalSeed] [nvarchar](50) NULL,
	[TraySize] [nvarchar](50) NULL,
	[ShortingDate] [date] NULL,
	[TotalPlants] [int] NULL,
	[Germination] [varchar](50) NULL,
	[AdvBillNo] [varchar](11) NULL,
 CONSTRAINT [PK_Daily_Sowing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [varchar](150) NULL,
	[Mobile_Number] [nvarchar](50) NULL,
	[Address] [varchar](150) NULL,
	[Taluka] [varchar](20) NULL,
	[City] [varchar](20) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [varchar](max) NOT NULL,
	[Brand_VAT] [float] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FarmersName] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[BillNo] [nvarchar](50) NULL,
	[MobileNo] [varchar](13) NULL,
	[Tapshil] [nvarchar](50) NULL,
	[Advance] [int] NULL,
	[BookingDate] [date] NULL,
	[DeliveryDate] [date] NULL,
	[CashNo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Billing](
	[Sales_OrderID] [varchar](max) NULL,
	[Customer_Name] [varchar](50) NULL,
	[Product_Name] [varchar](50) NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [nvarchar](50) NULL,
	[Rate] [float] NULL,
	[Quantity] [int] NULL,
	[Total] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Advance_Sowing]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advance_Sowing](
	[Advance_Bill_No] [varchar](max) NULL,
	[Plant_Name] [varchar](50) NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Status] [varchar](50) NULL CONSTRAINT [DF_Advance_Sowing_Status]  DEFAULT ('Booked')
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Advance_Products]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advance_Products](
	[Advance_Bill_No] [varchar](max) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [nvarchar](50) NULL,
	[Rate] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [float] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Advance_Billing]    Script Date: 10/17/2017 12:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Advance_Billing](
	[Advance_Bill_No] [varchar](max) NULL,
	[Customer_Name] [varchar](50) NULL,
	[Product_Name] [varchar](50) NULL,
	[Variety] [varchar](50) NULL,
	[Lot_No] [nvarchar](50) NULL,
	[Rate] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Total] [int] NULL,
	[Delivery_Date] [date] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View1]    Script Date: 10/17/2017 12:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View1]
AS
SELECT        dbo.Advance_Products.Product_Name, dbo.Advance_Products.Variety, dbo.Advance_Products.Lot_No, dbo.Advance_Products.Rate, dbo.Advance_Products.Quantity
FROM            dbo.Advance_Products INNER JOIN
                         dbo.Advance_Sowing ON dbo.Advance_Products.Advance_Bill_No = dbo.Advance_Sowing.Advance_Bill_No AND dbo.Advance_Products.Product_Name = dbo.Advance_Sowing.Plant_Name AND 
                         dbo.Advance_Products.Variety = dbo.Advance_Sowing.Variety AND dbo.Advance_Products.Lot_No = dbo.Advance_Sowing.Lot_No AND dbo.Advance_Products.Quantity = dbo.Advance_Sowing.Quantity
WHERE        (dbo.Advance_Sowing.Advance_Bill_No = '11111111') AND (dbo.Advance_Sowing.Status = 'Done')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[5] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Advance_Products"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 187
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Advance_Sowing"
            Begin Extent = 
               Top = 7
               Left = 404
               Bottom = 187
               Right = 581
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View1'
GO
